@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #f3f3f3;
}



#cabecalho{
    max-width: 80%;
    margin: auto;
}

h1::before{
    content: '🍜';
}


nav{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}


#list-nav{
    display: flex;
}

#list-nav li:hover{
    /* border-bottom: #616661 solid 2px; */
    text-decoration: underline #616661;
}

#list-nav li:first-child{
    margin-right: 30px;
}

#list-nav li:nth-child(2){
    margin: 0px 30px;
}

#list-nav li:last-child{
    margin-left: 30px;
}

#nav-btn{
    border: solid 2px black;
    padding: 5px 35px;
    border-radius: 7px;
    text-decoration: none;
    color: black;
}


#principal{ 
    max-width: 80%;
    margin: auto;
}

.caixa{
    display: flex;
    margin: auto;
    margin-top: 50px;
    align-items: center;
}

#btn-cardapio{
    margin-top: 35px;
}   


#btn-cardapio a{
    background-color: red;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 60px;
    border-radius: 7px;
}


.img-cardapio img{
    border-radius: 20px;
    box-shadow: 10px 7px 20px 1px rgba(97,97,97,0.75);
}


#cardapio{
    margin-right: 160px;
}


#cardapio h3{
    margin-bottom: 20px;
    font-size: 3vw;
    /* text-align: center; */
}

#modo-preparo h3{
    margin-bottom: 20px;
    font-size: 3vw;
}


#cardapio p{
    font-size: 1.5vw;
    text-align: justify;
}

#modo-preparo p{
    font-size: 1.5vw;
    /* text-align: justify; */
}


#modo-preparo{
    margin-left: 160px;
}

#btn-modo-preparo{
    margin-top: 35px;
}


#modo-preparo a{
    color: red;
    margin-top: 20px;

}



#container-cartoes{
    max-width: 80%;
    margin: auto;
    margin-top: 100px;
}


#container-cartoes h2{
    text-align: center;
}

#container-cartoes ul{
    display: flex;
    flex-flow: wrap;
    margin-top: 30px;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

#container-cartoes ul li img{
    border-radius: 100px;
    
}



#container-cartoes ul li{
    text-align: center;
    border: 1px solid #e0e0e0;
    box-shadow: 10px 7px 20px 1px rgba(97,97,97,0.75);
    padding: 30px;
    border-radius: 10px;
}


.desc-cartao p{
    margin-top: 30px;
}

.desc-cartao h4{
    color: #616661;
}



#comentarios h2{
    margin-top: 100px;
}


#list-coment{
    display: flex;
    /* flex-flow: wrap; */
    margin-bottom: 100px;
    justify-content: space-between;
}

#list-coment li img{
    border-radius: 200px;
}


#list-coment li{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 45%;
    margin-top: 40px;
    /* border: #616661 solid 2px; */
    border: 1px solid #e0e0e0;
    box-shadow: 10px 7px 20px 1px rgba(97,97,97,0.75);
    border-radius: 10px;
}

#coment-desc{
    margin-left: 20px;
}


#localizacao{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}


#localizacao h2{
    text-align: start;
}

#local iframe{
    margin-top: 50px;
    border-radius: 16px;

}



#rodape{
    max-width: 80%;
    margin: auto;
}

#rodape-input{
    margin-bottom: 100px;
    justify-content: center;
    text-align: center;
}


#rodape-input input{
    padding: 15px;
    padding-right: 220px;
    margin-right: -100px;
}

#rodape-input a{
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 7px 15px;

}


#rodape-rodape{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
}


#rodape-rodape h3{
    margin-bottom: 20px;
    font-weight:300;
}

#rodape-rodape a{
    text-decoration: none;
    color: black;
}

#rodape-rodape p{
    margin-bottom: 15px;
}

#rodape-rodape h2::before{
    content: '🍜';
}


#topo{
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 70px;
    text-align: center;
}


#meio{
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 200px;
}





@media (max-width:600px){
    #cabecalho nav{
        flex-flow: wrap;
        justify-content: center;
    }
    #cabecalho nav div{
        margin-bottom: 30px;
        
    }
    #cardapio{
        /* margin-left: 18%; */
        max-width: 100%;
        text-align: center;
        margin: auto;
    }
    #cardapio h3{
        font-size: 24px;
        /* margin-top: -250px; */
        
    }
    #cardapio p{
        font-size: 18px;
    }
    #cardapio a{
        padding: 7px 15px;
    }

    #principal{
        text-align: center;
    }
    #quebrar{
        flex-flow: wrap;
        text-align: center;
    }
    #quebrar img{
        display: none;
        /* margin-top: 20px;
        height: 80%;
        width: 80%; */
    }
    .quebrar-02{
        flex-flow: wrap;
    }

    .quebrar-02 img{
        margin-top: 20px;
        height: 80%;
        width: 80%;
    }
    #modo-preparo{
        margin: auto;
        max-width: 100%;
        margin-top: 40px;
    }
    #modo-preparo h3{
        font-size: 22px;
    }
    #modo-preparo p{
        font-size: 18px;
    }
    #list-coment{
        display: block;
    }



    #list-coment li{
        margin: auto;
        padding: 1%;
        display: block;
        margin-top: 10px;
        justify-content: start;
        text-align: center;
    }
    #list-coment li img{
        text-align: center;
        margin: auto;
        height: 80%;
        width: 80%;
    }
    .coment-desc{
        margin: auto;
        text-align: center;
    }
    .local iframe{
        height: 10px;
        width: 200px;
    }
    #rodape-input{
        display: none;
    }
    #rodape{
        margin-top: 100px;
        
    }
    #rodape-rodape{
        display: block;
        text-align: center;
    }
    #rodape-rodape div{
        margin-top: 40px;
        margin-bottom: ;
    }
    
}